.cards__list {
  list-style-type: none;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 280px));
  max-width: 1110px;
  gap: 17px;
  align-items: center;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(100px, 280px));
  }
}

@media screen and (max-width: 425px) {
  .cards__list {
    grid-template-columns: repeat(1, minmax(100px, 280px));
  }
}
