.card__description{
    background-color:#FFFFFF;
    border-radius:0 0 10px 10px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 18px 0 21px;
    justify-content: space-between;
    align-items: center;
}