.profile__name {
  color: #ffffff;
  margin: 0;
  font-size: 2.625rem;
  line-height: 1.1428;
  font-weight: 500;
}

@media screen and (max-width: 452px) {
  .profile__name {
    color: #ffffff;
    margin: 0;
    font-size: 1.375rem;
    line-height: 1.6875;
  }
}
