.footer{
    max-width: 55rem;
    margin:4.25rem auto 3.75rem auto;
}

@media screen and (max-width: 880px) {
    .footer{
        margin-left: 1.6875rem;
    }
    
}

@media screen and (max-width: 425px) {
    .footer{
        margin:3.125rem 0 2.25rem 1.1875rem;
    }
    
}